@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.font-handwriting {
  font-family: 'Caveat', 'Nanum Pen Script', 'Segoe Script', 'Comic Sans MS', cursive, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --background: #f9f7f1;
  --foreground: #4e3f31;
  --card: #fffcf5;
  --card-foreground: #4e3f31;
  --popover: #fffcf5;
  --popover-foreground: #4e3f31;
  --primary: #b77c41;
  --primary-foreground: #ffffff;
  --secondary: #e8dabd;
  --secondary-foreground: #624d39;
  --muted: #f0e6d4;
  --muted-foreground: #856c4e;
  --accent: #dccca2;
  --accent-foreground: #4e3f31;
  --destructive: #cf391b;
  --destructive-foreground: #ffffff;
  --border: #e2d2b3;
  --input: #e2d2b3;
  --ring: #b77c41;
  --chart-1: #b77c41;
  --chart-2: #9a6f3f;
  --chart-3: #7e5b2f;
  --chart-4: #c19061;
  --chart-5: #cda073;
  --sidebar: #f0e6d4;
  --sidebar-foreground: #4e3f31;
  --sidebar-primary: #b77c41;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #dccca2;
  --sidebar-accent-foreground: #4e3f31;
  --sidebar-border: #e2d2b3;
  --sidebar-ring: #b77c41;
  --font-sans: Manrope, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Bricolage Grotesque, ui-sans-serif, sans-serif, system-ui;
  --font-mono: ADLaM Display, ui-serif, serif;
  --radius: 0.25rem;
  --shadow-x: 2px;
  --shadow-y: 3px;
  --shadow-blur: 1px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #3c322a;
  --shadow-2xs: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-xs: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-sm: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 1px 2px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 1px 2px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-md: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 2px 4px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-lg: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 4px 6px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-xl: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 8px 10px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-2xl: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #1c1c17;
  --foreground: #f0e6d4;
  --card: #0f0f0f;
  --card-foreground: #f0e6d4;
  --popover: #3d3229;
  --popover-foreground: #f0e6d4;
  --primary: #cda073;
  --primary-foreground: #2f261f;
  --secondary: #4d3f36;
  --secondary-foreground: #f0e6d4;
  --muted: #332b24;
  --muted-foreground: #cabda7;
  --accent: #5e4839;
  --accent-foreground: #f0e6d4;
  --destructive: #cf391b;
  --destructive-foreground: #ffffff;
  --border: #4d3f36;
  --input: #4d3f36;
  --ring: #cda073;
  --chart-1: #cda073;
  --chart-2: #c19061;
  --chart-3: #b77c41;
  --chart-4: #9a6f3f;
  --chart-5: #7e5b2f;
  --sidebar: #0f0f0f;
  --sidebar-foreground: #f0e6d4;
  --sidebar-primary: #cda073;
  --sidebar-primary-foreground: #2f261f;
  --sidebar-accent: #5e4839;
  --sidebar-accent-foreground: #f0e6d4;
  --sidebar-border: #4d3f36;
  --sidebar-ring: #cda073;
  --font-sans: Manrope, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Bricolage Grotesque, ui-sans-serif, sans-serif, system-ui;
  --font-mono: ADLaM Display, ui-serif, serif;
  --radius: 0.25rem;
  --shadow-x: 2px;
  --shadow-y: 3px;
  --shadow-blur: 1px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #3c322a;
  --shadow-2xs: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-xs: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-sm: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 1px 2px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 1px 2px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-md: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 2px 4px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-lg: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 4px 6px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-xl: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00), 2px 8px 10px -1px hsl(26.6667 17.6471% 20% / 0.00);
  --shadow-2xl: 2px 3px 1px 0px hsl(26.6667 17.6471% 20% / 0.00);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}